/*General*/

h1 
{
    font-family:sans-serif; 
    color:  #000000;
    background-color: #ffffff;
    padding-bottom: 10px; 
    padding-top: 10px;}

h2 
{
    font-family:sans-serif; 
    color:  #000000;    
}

h3 
{
    font-family:sans-serif;
    color:  #000000;
}

h4 
{
    font-family:sans-serif; 
    color:  #000000;
}


footer 
{
    background-color: #ffffff;
    text-align: right;
    padding-top: 15px;
}

#pagewidth 
{
    width: auto;
    margin: 20px
}

a 
{
    text-decoration: none;
    color: #2f7585;
    
}




header 
{
    position:absolute;
    background: grey;
    top:0;
    left:0;
    padding:0 20px;
    background: grey;
    width: 100%;
    box-sizing: border-box;
}

header nav
{
    float: left;
}

header nav ul
{
    margin: 0;
    padding: 0;
    display: flex; <!--flex orders elements horizontally-->
}

header nav ul li
{
    list-style: none; <!--fdeactivates bullet points in front of menu elements-->
}

header nav ul li a
{
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    color: black;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active
{   
    color: white;
    background: black;
}

.menu-toggle
{
    color: black;
    
    float: left;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;  
}


@media (max-width:500px)
{

    .menu-toggle
    {
        background: grey;
        top: 50px;
        text-align: left;
        display: block;
    }
    
    header nav
    {
        position: absolute;
        width: 100%;
        height: calc(100vh-50px);
        background: grey;
        top: 50px;
        left:-100%;
        transition:     0.5s;
    }
    header nav.active
    {
        left:0;
    }
    header nav ul
    {
        display: block;
        text-align: center;
    }
    
    header nav ul li a
    {
        border-bottom: 1px solid rgba (255,255,255,1);
    }
    
    #content
    {
        margin-top: 150px;
    }
}
    
body 
{
    background-color: #ffffff;
    font-family: sans-serif;
    color: #363636; <!--Sets text color to a lighter black--> 
    margin:0;
    padding:0 50px;
    
}

#content
{
    margin-top: 100px;
}

